.thumbnail img {
    max-height: 150px;
}

.thumbnail h3 {
    min-height: 50px;
}

.thumbnail .description {
    color: #7f7f7f;
    min-height: 100px;
}

.price {
    font-weight: bold;
    font-size: 18px;
}
